/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 600px;
    width: 70%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    background: #0b0528;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none;
}
h3
{
    text-align: center;
    font-size: 26px;
    color: #2f2e2e;
    text-shadow: 2px 2px 12px gray;
}
h1
{
    font-weight: 600;
}
h4
{
    font-weight: 300;
}
header
{
    background: #222536;

}
.kontener
{
    background: #ededed;
    width: 1300px;
    margin: auto;
    position: relative;
}

.ramka
{
    position: absolute;
    left: 110px;
    top: -40px;
    background: white;
    width: 290px;
    height: 180px;
    border-radius: 16px;
    box-shadow: 0 0 20px 4px;
    margin-right: 0;
}
.ramka #logo
{
    margin-top: 55px;
    position: absolute;
    background: url('images/logo.png') no-repeat;
    width: 90%;
    height: 60%;
    margin-left: 18px;
}
header .tytul
{
    font-size: 45px;
    float: right;
    padding-right: 10%;
    color: #110360;
    text-shadow: 6px 6px 17px black;
    position: relative;
    margin-top: 10px;
}
header .zdj
{
    border-top: 5px solid #383535;
    width: 100%;
    height: 170px;
    margin-top: 20px;
    margin-bottom: -3px;
    border-bottom: 5px solid #383535;
}
.left
{
    width: 300px;
    padding:10px;
    background: #ededed;
    font-size: 18px;
    float: left;
}
.left span
{
    font-size: 19px;
    margin-left: 7px;
    margin-top: -15px;
    margin-bottom: -20px;
    padding-left: 68px;
    padding-top: 8px;
    height: 30px;
    display: block;
    box-shadow: 1px 1px 1px #808080;
    background: linear-gradient(to right, #0b0528, #3b2a51, #f4f4f4 20%, #f3f2f8 13%, #ffffff 40%);
    border-bottom: 1px solid #e9e9e9;

}

.left ul a:link, .left  ul a:visited
{
    margin: 0;
    margin-left: -33px;
    padding-left: 20px;
    padding-top: 9px;
    height: 33px;
    display: block;
    background: linear-gradient(to right, #f9f9f9, #fafafa);
    border-bottom: 2px solid #e9e9e9;
    text-decoration: none;
    color: #212121;
}
.left  ul li
{
    list-style: none;
}

.left  ul a:hover
{
    color: #f4f4f4;
    background: #131b44;
    transition: 0.7s;
}
.left ul li ul
{
    display: none;
}
.left ul li:hover ul
{
    display: block;

}
.right
{
    width: 940px;
    float: left;
    background: #f4f4f4;
    padding: 20px;
    min-height: 700px;
}
.right h1
{
    font-size: 25px;
    color: #232323;
    text-shadow: 5px 5px 20px;
}
.right .galeria img
{
    border: 4px solid #222886;
}
.right .autor
{
    padding: 6px 0 6px 0;
    width: 24%;
    font-size: 17px;
    color: #232323;
    border-bottom: 2px dashed #36544f;
}
.artykul
{
    text-align: justify;
    color: #232323;
    font-size: 20px;
    padding: 0px 20px 10px 0;
}


.button
{
    background: #222536;
    width: 140px;
    text-align: center;
    height: 24px;
    margin-left: 800px;
    border-radius: 8px;
    padding-top: 4px;
    margin-bottom: 80px;
}
.button a:link, .button a:visited
{
    text-decoration: none;
    color: #b1b1b1;
}
.button a:hover
{
    color: #8794e9;
}
.galeria
{
    margin-left: 24px;
    padding-bottom: 40px;
}
footer
{
    padding-top: 40px;
    clear:both;
    background: #313243;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #f4f4f4;
    font-size: 20px;
}
footer a:visited, a:link
{
    text-decoration: none;
    color: #a5a3ee;
}
footer a:hover
{
    color: #c3c2ff;
}

.budowa h6
{
    margin: 0;
    text-align: center;
    font-size: 55px;
    text-shadow: 5px 5px 20px;
}
.formularz
{
    font-size: 20px;
    color: #222536;
}
.formularz input
{
    color: #222536;
    font-size: 20px;
    width: 200px;
    height: 20px;
}
.formularz .wybor
{
    width: 40px;
    margin-left: -5px;
}
.formularz textarea
{
    width: 403px;
    height: 200px;
    color: #222536;
    font-size: 18px;
    max-height: 500px;
    max-width: 700px;
}
.formularz .guzik
{
    width: 120px;
    height: 26px;
    font-size: 18px;
}