<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Atrakcje</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="kontener">
    <header>
        <div class="tytul">
            BSKlandia
        </div>
    </header>

    <div class="left">
        <section>
            <h5>
                <span class="belka">Menu Główne</span>
            </h5>
            <nav>
                <ul>
                    <li><a href="index">Strona Główna</a></li>
                    <li><a href="bilety">Bilety</a></li>
                    <li><a href="strefy">Atrakcje</a></li>
                    <li><a href="login">Zaloguj się</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="right">
        <p th:text="${'Strefa ' + zoneName + ':'}"></p>
        <ul th:each="entertainer : ${zoneEntertainers}">
            <li th:text="${entertainer.name}"> </li>
        </ul>
    </div>
    <footer>
        Designed by Patryk Szczepanik & Radosław Mul, kontakt:
        <a href="mailto:patryk.szczepanik1@gmail.com">patryk.szczepanik1@gmail.com</a>
        <a href="mailto:radoslaw.mul@gmail.com">radoslaw.mul@gmail.com</a>
    </footer>
</div>

</body>
</html>
