<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Buciory - Strona Główna</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="kontener">
    <header>
        <div class="tytul">
            BSKlandia
        </div>
    </header>

    <div class="left">
        <section>
            <h5>
                <span class="belka">Menu Główne</span>
            </h5>
            <nav>
                <ul>
                    <li><a href="index">Strona Główna</a></li>
                    <li><a href="bilety">Bilety</a></li>
                    <li><a href="strefy">Atrakcje</a></li>
                    <li><a href="login">Zaloguj się</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="right">
        <h2>O nas</h2>
        <article>
            <p>BSKLANDIA to największy Park Rozrywki w Polsce, oferujący kilkadziesiąt atrakcji, które
                znajdują się na obszarze 26 hektarów, przeznaczony dla wszystkich grup wiekowych,
                zarówno dzieci, młodzieży jak i osób dorosłych.
                Park zlokalizowany jest w miejscowości Zator, na granicy dwóch największych a
                glomeracji południa, Śląska i Małopolski, niespełna pół godziny drogi z Katowic i Krakowa,
                a od Wadowic czy Oświęcimia dzieli nas niespełna 17 kilometrów.
            </p>
            <p>Nasze atrakcje charakteryzują się specjalnie dobraną tematyczną dekoracją i scenografią,
                podzielone są na 4 strefy:</p>
            <ul>
                <li><b>Bajkolandia</b> – kraina dziecięcych pragnień, wkraczające do niej maluchy znajdują się nagle
                    w świecie swoich marzeń, spotykają się z postaciami ulubionych bajek.
                </li>
                <li><b>Strefa familijna</b> – proponuje atrakcje dla całych rodzin, lecz na części z nich obowiązuje ograniczenie
                    wzrostu – min. 140 cm.
                </li>
                <li><b>Strefa ekstremalna</b> – to fenomenalna rozrywka dla wszystkich, którzy chcą zmierzyć się ze strachem,
                    dostarczająca maksimum adrenaliny, potężną dawkę radości i zabawy na najwyższych obrotach.
                </li>
                <li>
                    <b>Water Park</b> – strefa uruchomiona latem 2016 roku – naśladuje tropikalną wyspę,
                    z mnóstwem atrakcji, zakątków, wodnych zabaw.
                </li>
            </ul>
        </article>
    </div>
    <footer>
        Designed by Patryk Szczepanik & Radosław Mul, kontakt:
        <a href="mailto:patryk.szczepanik1@gmail.com">patryk.szczepanik1@gmail.com</a>
        <a href="mailto:radoslaw.mul@gmail.com">radoslaw.mul@gmail.com</a>
    </footer>
</div>

</body>
</html>
